@model SetPasswordViewModel
@{
    ViewData["Title"] = "Khôi phục mật khẩu";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>Set your password</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<p class="text-info">
    Bạn không có tên người dùng / mật khẩu cục bộ cho trang web này.
    Thêm tài khoản cục bộ để bạn có thể đăng nhập mà không cần đăng nhập bên ngoài.
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword">Mật khẩu</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Xác nhận mật khẩu</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Gửi</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}