@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "CheckoutSuccess";
}


<div class="col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 alert alert-success">
        Cảm ơn bạn đã đặt hàng. Chúng tôi sẽ sớm xác nhận đơn hàng của bạn.
    </div>
    <div class="col-sm-4"></div>
</div>