@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "CheckoutSuccess";
}

<div class="relative full-width">
    <div class="relative container-web">
        <div class="alert alert-success ">
            Cảm ơn bạn đã đặt hàng. Sản phẩm đã được gửi qua mail, mời bạn check mail để nhận hàng.
        </div>
    </div>
</div>
