@{
    ViewData["Title"] = "Confirm email";
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>Confirm Success</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<!--<section class="main-container col1-layout">-->
<!-- Content 404 Page -->
<div class="relative container-web full-width">
    <div class="container">
        <div class="row relative">
            <div class=" relative content-404" style="margin:auto">
                <p style="color:black;font-size:30px">BẠN ĐÃ XÁC THỰC TÀI KHOẢN THÀNH CÔNG</p>
                <div class="btn-back">
                    <a href="/" class="animate-default button-hover-red">Về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</section>-->
<!-- Main Container End -->

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
