@{
    ViewData["Title"] = "Xác thực khôi phục mật khẩu";
}

<div class="row" style="padding:50px 250px 50px">
    <h2>@ViewData["Title"]</h2>
    <h3> Vui lòng kiểm tra email để khôi phục mật khẩu.</h3>
</div>
