@{
    ViewData["Title"] = "Khôi phục mật khẩu";
}

<div class="col-sm-12">
    <div clss="col-sm-4"></div>
    <div clss="col-sm-4">
        <h2>@ViewData["Title"]</h2>

        <p>
            Mật khẩu đã được khôi phục. Nhấn <a asp-action="Login">để đăng nhập</a>.
        </p>
    </div>
    <div clss="col-sm-4"></div>
</div>
