@using Microsoft.AspNetCore.Identity
@using QDMarketPlace.Models
@using QDMarketPlace.Extensions

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="~/admin-side/images/img.jpg" alt="">@User.GetSpecificClaim("FullName")
    <span class=" fa fa-angle-down"></span>
</a>
<ul class="dropdown-menu dropdown-usermenu pull-right">
    <li><a href="javascript:;"> Hồ sơ</a></li>
    <li>
        <a href="javascript:;">
            <span class="badge bg-red pull-right"></span>
            <span>Cài đặt</span>
        </a>
    </li>
    <li><a href="javascript:;">Trợ giúp</a></li>
    <li>
        <form action="/Admin/Account/Logout" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Thoát</button>
        </form>
    </li>
</ul>

