<head>
    @*<link href="https://fonts.googleapis.com/css?family=Montserrat%7CRoboto:100,300,400,500,700,900%7CRoboto+Condensed:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/icon-font-linea.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/effect.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/home.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/responsive.css">*@
</head>
<body>
    <footer class="relative full-width" style="background:#fff">
        <div class=" top-footer full-width">
            <div class="clearfix container-web relative">
                <div class=" container">
                    <div class="row">
                        <div class="clearfix col-md-9 col-sm-12 clear-padding col-xs-12">
                            <div class="clearfix text-subscribe text-subscribe">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <p>Đăng ký nhận tin</p>
                                <p>Nhận thông báo và mã giảm giá.</p>
                            </div>
                            <!-- Begin Mailchimp Signup Form -->
                            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                            <style type="text/css">
                                #mc_embed_signup {
                                    background: #fff;
                                    clear: left;
                                    font: 14px Helvetica,Arial,sans-serif;
                                }
                                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                            </style>
                            <div id="mc_embed_signup">
                                <form action="https://azurewebsites.us6.list-manage.com/subscribe/post?u=1b93909f03b883c74d36650cd&amp;id=7bee3617b5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                        @*<h2>Subscribe</h2>*@
                                        @*<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>*@
                                        <div class="mc-field-group">
                                            <label for="mce-EMAIL">
                                                Email <span class="asterisk">*</span>
                                            </label>
                                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                        </div>
                                        <div id="mce-responses" class="clear">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1b93909f03b883c74d36650cd_7bee3617b5" tabindex="-1" value=""></div>
                                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                    </div>
                                </form>
                            </div>
                            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                            <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                            <!--End mc_embed_signup-->
                            <!--<div class="clearfix text-subscribe text-subscribe">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <p>Đăng ký nhận tin</p>
                            <p>Nhận thông báo và mã giảm giá.</p>
                        </div>
                        <div class="clearfix form-subscribe">-->
                            @*<input type="text" name="email-subscribe" placeholder="Nhập Email của bạn . . .">
                            <button class="animate-default button-hover-red">Đăng ký</button>*@

                            <!--</div>-->
                        </div>
                        <div class="clearfix col-md-3 col-sm-12 col-xs-12 clear-padding social-box text-right">
                            <a href="#"><img src="/client-side-1/img/social_tw-min.png" alt="Icon Social Twiter"></a>
                            <a href="#"><img src="/client-side-1/img/social_fa-min.png" alt="Icon Social Facebook"></a>
                            <a href="#"><img src="/client-side-1/img/social_int-min.png" alt="Icon Social Instagram"></a>
                            <a href="#"><img src="/client-side-1/img/social_yt-min.png" alt="Icon Social Youtube" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix container-web relative">
            <div class=" container clear-padding">
                <div class="row">
                    <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                        <p>Tài khoản của tôi</p>
                        <ul class="list-footer">
                            <li><a href="#">Tài khoản của tôi</a></li>
                            <li><a href="#">Đăng nhập</a></li>
                            <li><a href="#">Giỏ hàng</a></li>
                            <li><a href="#">Sản phẩm yêu thích</a></li>
                            <li><a href="#">So sánh giá</a></li>
                        </ul>
                    </div>
                    <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                        <p>Thông tin</p>
                        <ul class="list-footer">
                            <li><a href="#">Thông tin</a></li>
                            <li><a href="#">Lịch sử đặt hàng</a></li>
                            <li><a href="#">Sản phẩm yêu thích</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Địa chỉ</a></li>
                        </ul>
                    </div>
                    <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                        <p>Chăm sóc khách hàng</p>
                        <ul class="list-footer">
                            <li><a href="#">Phản hồi về sản phẩm</a></li>
                            <li><a href="#">Mã giảm giá</a></li>
                            <li><a href="#">Đổi hàng</a></li>
                            <li><a href="#">Chưa nhận được hàng</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                        </ul>
                    </div>
                    <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                        <p>contact us</p>
                        <ul class="icon-footer">
                            <li><i class="fa fa-home" aria-hidden="true"></i> 01 Võ Văn Ngân, Bình Thọ, Thủ Đức, Hồ Chí Minh</li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> contact@qdmarketplace.com</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> 033-545-7878</li>
                            <li><i class="fa fa-fax" aria-hidden="true"></i> 09-888-77-176</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 AM - 18:00 PM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" bottom-footer full-width">
            <div class="clearfix container-web">
                <div class=" container">
                    <div class="row">
                        <div class="clearfix col-md-7 clear-padding copyright">
                            <p>Copyright © 2021 by QDMarketPlace. All Rights Reserved.</p>
                        </div>
                        <div class="clearfix footer-icon-bottom col-md-5 float-right clear-padding">
                            <div class="icon_logo_footer float-right">
                                <img src="/client-side-1/img/image_payment_footer-min.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quick-call-button"></div>
        <div class="call-now-button">
            <div>
                <p class="call-text"> Hotline: 0384341439</p>
                <a href="tel:0384341439" title="Gọi ngay">
                    <div class="quick-alo-ph-circle active"></div>
                    <div class="quick-alo-ph-circle-fill active"></div>
                    <div class="quick-alo-ph-img-circle shake"></div>
                </a>
            </div>
        </div>
        @*<a id="fb-chat-app" target="blank" href="https://www.messenger.com/t/3570595946328886">
            <img src="~/images/facebook-messenger.png" alt="Chat Facebook" title="Chat Facebook" width="60" class="lazyloading" data-was-processed="true">
        </a>*@

        <!-- Messenger Chat Plugin Code -->
        <div id="fb-root"></div>

        <!-- Your Chat Plugin code -->
        <div id="fb-customer-chat" class="fb-customerchat">
        </div>

        <script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "109855358027782");
            chatbox.setAttribute("attribution", "biz_inbox");

            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v11.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

    </footer>
    <script src="~/client-side-1/js/jquery-3.3.1.min.js" defer=""></script>
    <script src="~/client-side-1/js/bootstrap.min.js" defer=""></script>
    <script src="~/client-side-1/js/owl.carousel.min.js" defer=""></script>
    <script src="~/client-side-1/js/sync_owl_carousel.js" defer=""></script>
    <script src="~/client-side-1/js/scripts.js" defer=""></script>
</body>





