@inject IViewLocalizer Localizer
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7CRoboto:100,300,400,500,700,900%7CRoboto+Condensed:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/icon-font-linea.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/effect.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/home.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/client-side-1/css/responsive.css">
    <style>
        p{
            color:#fff;
        }
    </style>
</head>
<body>
    <header class="relative full-width box-shadow">
        <div class="clearfix container-web relative">
            <div class=" container">
                <div class="row">
                    <div class=" header-top" style="background:#fff">
                        <p class="contact_us_header col-md-4 col-xs-12 col-sm-3 clear-margin">
                            <img src="/client-side-1/img/icon_phone_top.png" alt="Icon Phone Top Header" /> Liên hệ <span class="text-red bold">033-545-7878</span>
                        </p>
                        <div class="clear-padding menu-header-top text-right col-md-8 col-xs-12 col-sm-6">
                            <ul class="clear-margin">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="relative"><a href="/account.html">@User.GetSpecificClaim("FullName")</a></li>
                                    <li class="relative"><a href="/wishlist.html">Sản phẩm yêu thích</a></li>
                                    <li class="relative"><a href="#">Chính sách bán hàng</a></li>
                                    <li class="relative">
                                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                                            <a href="#" onclick="document.getElementById('logoutForm').submit()"><span>Thoát</span></a>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li class="relative"><a href="/login.html">Đăng nhập</a></li>
                                    <li class="relative"><a href="/register.html">Đăng ký</a></li>
                                    <li class="relative"><a href="#">Chính sách bán hàng</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="clearfix header-content full-width relative">
                        <div class="clearfix icon-menu-bar">
                            <i class="data-icon data-icon-arrows icon-arrows-hamburger-2 icon-pushmenu js-push-menu" aria-hidden="true"></i>
                        </div>
                        <div class="clearfix logo">
                            <a href="/"><img alt="Logo-home" src="/client-side-1/img/logo-home.png" /></a>
                        </div>
                        <div class="clearfix search-box relative float-left">
                            <form method="GET" action="/search.html" class="">
                                <div class="clearfix category-box relative">
                                    <select name="cate_search">
                                        <option>All Category</option>
                                        <option>Food</option>
                                        <option>Mobile & Tablet</option>
                                        <option>Electric Appliances</option>
                                        <option>Electronics & Technology</option>
                                        <option>Fashion</option>
                                        <option>Health & Beauty</option>
                                        <option>Mother & Baby</option>
                                        <option>Books & Stationery</option>
                                        <option>Home & Life</option>
                                        <option>Sports & Outdoors</option>
                                        <option>Auto & Moto</option>
                                        <option>Voucher Service</option>
                                    </select>
                                </div>
                                <input type="text" name="keyword" placeholder="Enter keyword here . . .">
                                <button type="submit" class="animate-default button-hover-red">Search</button>
                            </form>
                        </div>
                        <div class="clearfix icon-search-mobile absolute">
                            <i onclick="showBoxSearchMobile()" class="data-icon data-icon-basic icon-basic-magnifier"></i>
                        </div>
                        <!--Place Cart-->
                        <vc:header-cart></vc:header-cart>
                        <div class="mask-search absolute clearfix" onclick="hiddenBoxSearchMobile()"></div>
                        <div class="clearfix box-search-mobile">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <a class="menu-vertical hidden-md hidden-lg" onclick="showMenuMobie()">
                        <span class="animate-default"><i class="fa fa-list" aria-hidden="true"></i> all categories</span>
                    </a>
                </div>
    
            </div>
        </div>
        
    </header>
    <script src="~/client-side-1/js/jquery-3.3.1.min.js" defer=""></script>
    <script src="~/client-side-1/js/bootstrap.min.js" defer=""></script>
    <script src="~/client-side-1/js/owl.carousel.min.js" defer=""></script>
    <script src="~/client-side-1/js/sync_owl_carousel.js" defer=""></script>
    <script src="~/client-side-1/js/scripts.js" defer=""></script>
</body>